@model FirstLibrary.Models.Books

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<h2>حذف الكتاب</h2>

<h3>هل انت متأكد من حذف الكتاب ؟</h3>
<div>
    
    <hr/>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Category.CategoryName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Category.CategoryName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BookTitle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BookTitle)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BookContent)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BookContent)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BookImage)
        </dt>

        <dd>
            <img src="~/Bimgs/@Html.DisplayFor(model => model.BookImage)" 
                 class="thumbnail"
                 style="width:48px;height:68px" />
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="تأكيد الحذف" class="btn btn-danger" /> |
            @Html.ActionLink("العودة الى الكتب", "Index")
        </div>
    }
</div>
