@model FirstLibrary.Models.Books

@{
    ViewBag.Title = "التفاصيل";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<h2>التفاصيل</h2>

<div>
    <h4>Books</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Category.CategoryName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Category.CategoryName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BookTitle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BookTitle)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BookContent)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BookContent)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BookImage)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BookImage)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("تعديل", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("العودة إلى القائمة", "Index")
</p>
